Repository opea-project/GenAIEval, changes with the owners that .github/CODEOWNERS names for each.
All owners: kaokao.lv@intel.com, liang1.lv@intel.com, xinyu.ye@intel.com

Add missing init files for benchmark
  evals/benchmark/__init__.py
  evals/benchmark/stresscli/dataset/__init__.py
Owners: liang1.lv@intel.com

add support for pubmed dataset and random query list
  evals/benchmark/stresscli/README_Pubmed_qlist.md
  evals/benchmark/stresscli/dataset/extract_lines.sh
  evals/benchmark/stresscli/locust/chatqna_qlist_pubmed.py
Owners: liang1.lv@intel.com

add support for pubmed dataset and random query list (#223)
  evals/benchmark/stresscli/README_Pubmed_qlist.md
  evals/benchmark/stresscli/dataset/extract_lines.sh
  evals/benchmark/stresscli/locust/chatqna_qlist_pubmed.py
Owners: liang1.lv@intel.com

Optimize CI check output prompt words (#219)
  .github/workflows/pr-path-detection.yml
Owners: kaokao.lv@intel.com

Fix chatqna pubmed benchmark issues. 1. modify respStatics function parameters 2. support chatqna_qlist_pubmed bench_target for input token calculation.
  evals/benchmark/stresscli/locust/chatqna_qlist_pubmed.py
  evals/benchmark/stresscli/locust/tokenresponse.py
Owners: liang1.lv@intel.com

add benchmark into binary
  evals/__init__.py
  evals/benchmark/__init__.py
  setup.py
Owners: kaokao.lv@intel.com, liang1.lv@intel.com

bump release version
  evals/version.py
Owners: kaokao.lv@intel.com

Fix chatqna pubmed benchmark issues. (#228)
  evals/benchmark/stresscli/locust/chatqna_qlist_pubmed.py
  evals/benchmark/stresscli/locust/tokenresponse.py
Owners: liang1.lv@intel.com

Add benchmark code into opea-eval binary (#229)
  evals/__init__.py
  evals/benchmark/__init__.py
  evals/version.py
  setup.py
Owners: kaokao.lv@intel.com, liang1.lv@intel.com

[Bug] Enhance the Issue template (#221)
  .github/ISSUE_TEMPLATE/1_bug_template.yml
  .github/ISSUE_TEMPLATE/2_feature_template.yml
Owners: kaokao.lv@intel.com

update code given recent changes in OPEA agent
  evals/evaluation/agent_eval/TAG-Bench/README.md
  evals/evaluation/agent_eval/TAG-Bench/opea_sql_agent_llama/launch_sql_agent.sh
  evals/evaluation/agent_eval/TAG-Bench/opea_sql_agent_llama/sql_agent_llama.yaml
  evals/evaluation/agent_eval/TAG-Bench/run_benchmark/generate_answers.py
  evals/evaluation/agent_eval/crag_eval/README.md
  evals/evaluation/agent_eval/crag_eval/opea_rag_agent/rag_agent.yaml
  evals/evaluation/agent_eval/crag_eval/opea_rag_agent/tools/tools.py
  evals/evaluation/agent_eval/crag_eval/opea_rag_agent/tools/worker_agent_tools.py
  evals/evaluation/agent_eval/crag_eval/run_benchmark/generate_answers.py
  evals/evaluation/agent_eval/vllm-gaudi/build_image.sh
Owners: kaokao.lv@intel.com

.github/CODEOWNERS:

# Code owners will review PRs within their respective folders. 
# Typically, ownership is organized at the second-level subdirectory under the homepage
* kaokao.lv@intel.com
/evals/benchmark/ liang1.lv@intel.com 
/evals/evaluation/ kaokao.lv@intel.com
/evals/metrics/ xinyu.ye@intel.com
/tests/ kaokao.lv@intel.com
